<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paleskyline.navicash">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.KeyDecryptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TransactionActivity"
            android:label="Add Transaction"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SelectSubCategoryActivity"
            android:label="Select Sub Category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CategoryActivity"
            android:label="Add Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectIconActivity"
            android:label="Select Icon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditGeneralCategoryActivity"
            android:label="Edit General Category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SelectGeneralCategoryActivity"
            android:label="Select General Category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditSubCategoryActivity"
            android:label="Edit Sub Category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChangeEmailActivity"
            android:label="@string/title_activity_update_email"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChangeLoginPasswordActivity"
            android:label="@string/title_activity_change_login_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChangeDataPasswordActivity"
            android:label="@string/title_activity_change_data_password"
            android:screenOrientation="portrait" />
    </application>

</manifest>