<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.accroo.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Accroo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ConfirmPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChoosePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VerificationCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.KeyDecryptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TransactionActivity"
            android:label="@string/title_activity_add_transaction"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SelectSubCategoryActivity"
            android:label="@string/title_activity_select_subcategory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CategoryActivity"
            android:label="@string/title_activity_add_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectIconActivity"
            android:label="@string/title_activity_select_icon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditGeneralCategoryActivity"
            android:label="@string/title_activity_edit_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SelectGeneralCategoryActivity"
            android:label="@string/title_activity_select_general_category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditSubCategoryActivity"
            android:label="@string/title_activity_edit_category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChangeEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LicensesActivity"
            android:label="@string/title_activity_licenses"
            android:screenOrientation="portrait" />
    </application>

</manifest>